@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Jost:wght@400;700&display=swap");

body {
	font-family: "Inter", sans-serif;
}

#body {
	background-color: #f6f6f6;
    background-image: url("/img/background.svg");
    background-size: cover;
    background-repeat: no-repeat no-repeat;
}

#main {
	padding-top: 15px;
}

#myCarousel .f-carousel__slide {
	display: flex;
	justify-content: center;
	align-items: center;
}

.f-carousel.is-horizontal.has-thumbs .f-carousel__slide {
	height: auto;
	background-color: #fff;
}

.f-carousel.is-horizontal.has-thumbs .f-carousel__slide img {
	width: 100%;
	height: auto;
}
