<header>
   <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <div class="container">
         <a class="navbar-brand" href="/client">
            <img src="/img/mmsu_logo.png" alt="UI Kit" style="width: 40px;" class="me-2">Magnolia Dormitory
         </a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav ms-auto me-sm-2 mt-2 mt-lg-0">
               <li class="nav-item active me-3">
                  <a class="nav-link" href="/client">Home</a>
               </li>
               <li class="nav-item me-3">
                  <a class="nav-link" href="/rooms">Rooms</a>
               </li>
               <li class="nav-item me-3">
                  <a class="nav-link" href="/about">About</a>
               </li>


               <li class="nav-item dropdown">
                  <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                     <img class="rounded-circle u-box-shadow-sm me-2" width="25" height="25"
                        src="/img/avatar.png" alt="Htmlstream"><i
                        class="fa fa-angle-down   "></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                     <a class="dropdown-item" href="/account">Your Account</a>

                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="/logout">Sign Out</a>
                  </div>
               </li>
            </ul>

         </div>
      </div>
   </nav>
</header>